$title
$operating system unix
$symmetry c1 
$coord    file=coord
$user-defined bonds    file=coord
$atoms
o  1                                                                           \
   basis =o def2-SVP                                                           \
   jbas  =o def2-SVP
h  2-3                                                                         \
   basis =h def2-SVP                                                           \
   jbas  =h def2-SVP
$basis    file=basis
$rundimensions
   dim(fock,dens)=352
   natoms=3
   nshell=12
   nbf(CAO)=25
   dim(trafo[SAO<-->AO/CAO])=27
   rhfshells=1
$scfmo   file=mos
$closed shells
 a       1-5                                    ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor      500
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$optimize
   internal   off
   cartesian  on
   global     off
   basis      off   logarithm
$energy    file=energy
$grad    file=gradient
$dft
   functional b-p
   gridsize   m4
$scfconv  8
$scfdamp   start=0.700  step=0.050  min=0.050
$ricore     2000
$rij
$jbas    file=auxbasis
$last step     ridft
$scfiterlimit 5000
$last SCF energy change = -.99982316E-08
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.28067347471389    y    -0.45346115565939    z    -0.57074453421980    a.u.
   | dipole | =    1.9854329370  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.33802994398099E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-76.36358217788    -122.7914405289     46.74066913070     0.000000000000     0.000000000000     9.032069682002
$properties
    trace                              off   
    moments                            active
    potential                          off   
    cowan-griffin                      off   
    localization                       off   
    population analyses                off   
    plot                               off   
    firstorder                         off   
    fit                                off   
$end
